#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f > #backgroundBox {
  position: absolute;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_1 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_1 input::-webkit-input-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_1 input::-moz-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_1 input:-moz-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_1 input:-ms-input-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_1 {
  position: absolute;
  width: 99.41520467836266%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_1 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_1 .valign {
  vertical-align: middle;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #shapewrapper-s-Line_1 marker {
  fill: #D9D9D9;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #shapewrapper-s-Line_1 {
  position: absolute;
  width: 357.8947368421052px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Line_1 {
  width: 357.8947368421052px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #D9D9D9;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Line_1 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_2 input::-webkit-input-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_2 input::-moz-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_2 input:-moz-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_2 input:-ms-input-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_2 {
  position: absolute;
  width: 98.962998062984%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_2 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_2 .valign {
  vertical-align: middle;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #shapewrapper-s-Line_2 marker {
  fill: #D9D9D9;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #shapewrapper-s-Line_2 {
  position: absolute;
  width: 356.26679302674233px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Line_2 {
  width: 356.26679302674233px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #D9D9D9;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Line_2 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_3 input::-webkit-input-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_3 input::-moz-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_3 input:-moz-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_3 input:-ms-input-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_3 {
  position: absolute;
  width: 96.87017415364582%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_3 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_3 .valign {
  vertical-align: middle;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_3 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #shapewrapper-s-Line_3 marker {
  fill: #D9D9D9;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #shapewrapper-s-Line_3 {
  position: absolute;
  width: 348.7326269531248px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Line_3 {
  width: 348.7326269531248px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #D9D9D9;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Line_3 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_4 input::-webkit-input-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_4 input::-moz-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_4 input:-moz-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_4 input:-ms-input-placeholder {
  color: #A1A1A1;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_4 {
  position: absolute;
  width: 97.3333333333333%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_4 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_4 .valign {
  vertical-align: middle;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_4 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #shapewrapper-s-Line_4 marker {
  fill: #D9D9D9;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #shapewrapper-s-Line_4 {
  position: absolute;
  width: 350.3999999999999px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Line_4 {
  width: 350.3999999999999px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #D9D9D9;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Line_4 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_1 {
  position: absolute;
  width: 353.00000000000006px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_1 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #15A9BB;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DE7C0F;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DE7C0F;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DE7C0F;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DE7C0F;
  border-radius: 2px 2px 2px 2px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_1 span {
  color: #DD8F3A;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #DD8F3A;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_2 {
  position: absolute;
  width: 35.00000000000023px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_2 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #15A9BB;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DE7C0F;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DE7C0F;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DE7C0F;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DE7C0F;
  border-radius: 2px 2px 2px 2px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_2 span {
  color: #DD8F3A;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Button_2 span#rtr-s-Button_2_0 {
  color: #DD8F3A;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_1 {
  width: 376.99999999999966px;
  height: 55.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_1 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #343A40;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_2 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_3 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_3 span {
  color: #6C757D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #6C757D;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Rectangle_1 {
  position: absolute;
  width: 100.0%;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Rectangle_1 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #343A40;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Image_1 {
  position: absolute;
  width: 38.0px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Image_1 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Image_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Image_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6C757D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6C757D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6C757D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6C757D;
  border-radius: 2px 2px 2px 2px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Image_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_2 {
  width: 376.99999999999966px;
  height: 55.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_2 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_3 {
  width: 376.99999999999966px;
  height: 55.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_3 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_4 {
  width: 376.99999999999966px;
  height: 55.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_4 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_5 {
  width: 376.99999999999966px;
  height: 55.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_5 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_4 {
  position: absolute;
  width: 51.00000000000023px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_4 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_4 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_5 {
  position: absolute;
  width: 51.00000000000023px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_5 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_5 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_5 {
  position: absolute;
  width: 260.1126365661622px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_5 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Input_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_6 {
  box-shadow: none;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bf5418fe-7d97-4fc1-97e9-f92a43d4c41f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}