#s-91009be8-9e3f-4a78-868e-e0932e586ef6 > #backgroundBox {
  position: absolute;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_1 {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_1 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/e75d60b8-5d73-4efc-a83d-1deeee2ecb97.jpg');
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_1 {
  width: 65.0px;
  height: 135.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_1 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Ellipse_1 {
  width: 56.0px;
  height: 56.0px;
  min-height: 56.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Ellipse_1 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #2A56C6;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Ellipse_2 {
  width: 56.0px;
  height: 56.0px;
  min-height: 56.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Ellipse_2 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_1 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_1 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Ellipse_3 {
  width: 56.0px;
  height: 56.0px;
  min-height: 56.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Ellipse_3 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Ellipse_4 {
  width: 56.0px;
  height: 56.0px;
  min-height: 56.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Ellipse_4 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #F3F3F3;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_2 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_2 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_3 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(270.0deg);
  -moz-transform: rotate(270.0deg);
  transform: rotate(270.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_3 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_2 {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_2 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_4 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_4 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_5 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_5 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_6 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_6 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Table_1 {
  position: absolute;
  width: 100.0%;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -3.0px 2.5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Table_1 {
  box-shadow: -0.0px -3.0px 5px 0px #999999;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_5 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_5 .verticalalign {
  vertical-align: top;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_5 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_5 {
  width: 24.72222222222222%;
  height: 100.0%;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_6 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_6 .verticalalign {
  vertical-align: top;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_6 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_6 {
  width: 24.72222222222222%;
  height: 100.0%;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_7 {
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_7 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_1 {
  width: 91.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_1 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_1 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_7 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_7 .verticalalign {
  vertical-align: top;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_7 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_7 {
  width: 25.27777777777778%;
  height: 100.0%;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_8 {
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_8 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_2 {
  width: 91.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_2 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_2 span {
  color: #676767;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #676767;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_8 td.layout {
  padding: 6px 0px 0px 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_8 .verticalalign {
  vertical-align: top;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_8 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Cell_8 {
  width: 25.27777777777778%;
  height: 100.0%;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_2 {
  width: 91.11111111111111%;
  height: 54.0px;
  filter: drop-shadow(-0.0px -0.0px 2.5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_2 {
  box-shadow: -0.0px -0.0px 5px 0px #999999;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_2 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_2 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_2 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_2 td.layout {
  padding: 4px 4px 4px 4px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Input_1 input::-webkit-input-placeholder {
  color: #7D7D7D;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Input_1 input::-moz-placeholder {
  color: #7D7D7D;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Input_1 input:-moz-placeholder {
  color: #7D7D7D;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Input_1 input:-ms-input-placeholder {
  color: #7D7D7D;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Input_1 {
  position: absolute;
  width: 85.060974%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Input_1 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Input_1 .valign {
  vertical-align: top;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 17px;
  text-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Input_1 .paddingLayer:first-child {
  padding-top: 13px;
  padding-right: 51px;
  padding-bottom: 0px;
  padding-left: 54px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_9 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_9 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_10 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_10 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_3 {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_3 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_3 {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_3 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_11 {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_11 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_5 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Ellipse_5 {
  width: 36.0px;
  height: 36.0px;
  min-height: 36.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Ellipse_5 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_12 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Image_12 {
  box-shadow: none;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Button_1 {
  position: absolute;
  width: 35.00000000000023px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Button_1 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #15A9BB;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DE7C0F;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DE7C0F;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DE7C0F;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DE7C0F;
  border-radius: 2px 2px 2px 2px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Button_1 span {
  color: #DD8F3A;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #DD8F3A;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-91009be8-9e3f-4a78-868e-e0932e586ef6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}